@import '../../../styles/mixins';

.theme-button {
  border: 0;
  margin-right: 15px;
  background: inherit;
  cursor: pointer;
}

.theme-icons {
  @include size(35px, 35px);
  color: var(--primary-text-color);
}
